<?php

// Bucket settings
define('KEY', 'ABCDEFG');
define('SECRET', 'ABCDEFG');
define('REGION', '');
define('VERSION', 'latest');
define('BUCKET', 'ABCDEFG');
define('ENDPOINT', 'https://ABCDEFG.com/');

// If you are testing set this to a submap...
define('STARTDIR', 'abc/def');

// The string is an example
define('REGULAREXPRESSION', '/((_a)|(_box)|(_bu)|(_dop)|(_ring)|(_s\.)|(_m\.)|(_l\.)|(_xl\.)|(_xxl\.)|(_3xl\.)|(_4xl\.))/i');

// Only PHP 7 and up you can define a array
// Must be all lowercase
define('AllOWEDEXTENSIONS', [
        'jpg','jpeg','png','gif'
]);
